<div class="d-flex flex-row">
    <div style="width: 15%; height: 100vh; background-color:rgb(214, 210, 210);">

    </div>
    <div>
     <table>
        <thead>
            <tr style="background-color: cornflowerblue; color: whitesmoke">
                <th>id</th>
                <th>img</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
     </table>
    </div>
</div>
