<div class="container m-5 card p-4">
<h1>Upload</h1>
<hr>
<form class="form mt-2" action="/" method="post" enctype="multipart/form-data">
    <label><strong>Wybierz plik/pliki: </strong> <input type="file" class="form-control-file" required name="upload" multiple></label>
    <br>
    <input class="mt-3" type="submit" value="UPLOAD">
</form>
</div>